.Test {
  margin: 0 auto;
  display: flex;
  background-image: url('../../Images/block3.jpg');
  background-size: cover;
  margin-top: 10px;
  width: 1440px;
  height: 560px;
}

.Rows{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1180px;
  height: 500px;
  align-items: center;
  margin: auto;
  justify-content: center;
  color: white;
  border-radius: 10px;
}

.Kids{
  position: relative;
  height: 500px;
  margin: auto;
}
.Kids img{
  height: 500px;
}

.Footbal{
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  max-width: 66.6%;
  height: 500px;
  padding: 0 20px;
  margin: auto;
  border-radius: 20px;
}

.Item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ItemImage {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #fbcb2a;
  position: relative;
  background-color: grey;
}

span {
  margin-left: 10px;
  line-height: 25px;
}


.ItemImage img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 70%;
  height: 70%;
  margin: auto;
}

.Link{
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 5%;
  font-weight: 400;
  font-size: 22px;
  color: #313639;
  text-align: center;
  padding: 10px;
  background: #fbcb2a;
  border-radius: 10px;
  margin: auto;
}

.columns{
  columns: 2;
}

.Item{
  margin: auto;
  height: 95px;
}